<nav class="navbar bg-base-100 shadow-sm container mx-auto">
  <div class="flex-1">
    <%= link_to "ReacTodo", root_path, class:"btn btn-ghost text-2xl" %>
  </div>
  <div class="flex gap-2">

          <% if user_signed_in? %>
            <input type="text" placeholder="Search" class="input input-bordered w-24 md:w-auto" />
            <div class="dropdown dropdown-end">
              <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
                <div class="w-10 rounded-full">
                  <%= image_tag current_user.avatar_url, alt: current_user.name %>
                </div>
              </div>
              <ul
                tabindex="0"
                class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
                <li>
                  <a class="justify-between">
                    Profile
                    <span class="badge">New</span>
                  </a>
                </li>
                <li><a>Settings</a></li>
                <li><%= button_to "Logout", destroy_user_session_path, method: :delete %></li>
              </ul>
            </div>
          <% else %>
            <%= button_to user_github_omniauth_authorize_path, class: "btn btn-ghost text-xl text-white font-bold py-2 px-4 rounded-4xl flex items-center" do %>
              Sign in with GitHub
              <%= image_tag "github-logo.png", alt: "GitHub Logo", class: "w-8 h-8 ml-2 rounded-full bg-white" %>
            <% end %>
          <% end %>

  </div>
</nav>
